/* DOCUMENT CREATED BY :LINI */
/* date:23/03/2021 */

body {
  background-color: #2a2b2c;
  font-size: 30px;
  color: #aeb6bf;
  background-image: url("images/linibw.jpeg");
  width: auto;
  height: auto;
  background-blend-mode: multiply;
  border-radius: 10rem;
  background-repeat: no-repeat;
  /* background-position: right top; */
  background-size: contain;
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
img {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
}
h1,
h3 {
  color: #cf2804;
}
p span {
  transition: width 2s, height 4s;
}
.fa {
  font-size: 50px !important;
  color: #aeb6bf;
}
.fa-angle-up {
  float: right;
}

#menu-id01 {
  float: right;
  text-align: center;
  font-size: medium;
  color: #ffffff;
}

.page-cl01 {
  padding: 1em;
  text-align: center;
  text-decoration: #6495ed;
}
/* Style the links inside the pill navigation menu */
.menu-nav a {
  display: inline-block;
  color: #cf2804;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  font-weight: bolder;
}

/* Change the color of links on mouse-over */
.menu-nav a:hover {
  /* background-color: #493A54 ; */
  color: #c5263c;
  font-weight: bolder;
}

/* Add a color to the active/current link */
.menu-nav a.active {
  /* background-color: #694980; */
  color: #cf2804;
  font-weight: bolder;
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
  body {
    font-size: 2em;
  }
  .menu-nav a {
    display: inline-block;
    color: #cf2804;
    width: auto;
    font-size: 17px;
    font-weight: bolder;
    /* font-size: 15px; */
  }
  .menu-nav a.active {
    /* background-color: #694980; */
    color: #cf2804;
    font-size: 17px;
    font-weight: bolder;
  }
}
